/*/ Using !default we can override this variable even before the following line: /*/
$assetsPath: "../" !default;

// NOTE:Colors
$grayColor: #f5f5f5;
$accentYellow: #f9d135;
$thumbUpColor: #4aa837;
$thumbDownColor: #da3526;
$textBlueColor: #3e81b9;
$textGrayColor: #282828;
$textLightGrayColor: #b9b9b9;

$fontSmallSize: 12px;
$fontBigSize: 2.5rem;
