/*/ Using !default we can override this variable even before the following line: /*/

// NOTE:Colors
$textSecondaryColor: #606060;
$textSecondaryHoverColor: #111111;
$textActiveColor: #cc0000;

// NOTE: Fonts

// NOTE: Sizes
$headerHeight: "56px";
$footerHeight: "40px";
